.imageContainer{
    position: relative;
}

.imageContainer img {
    width: 100%;
    object-fit: cover;
    border-radius: 8%;
}


.deleteButton{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    scale: 0.6;
    background: #464545;
    cursor: pointer;
}
