.wrapper{
    display: flex;
    flex-direction: column;
}

.wrapper h1{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    gap: 32px;
    margin-top: 16px;
}

