main {
    max-width: 1200px;
    min-height: calc(100vh - 116px);
    margin: auto;
    display: flex;
}

header, footer {
    box-sizing: border-box;
    background-color: #464545;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    min-width: 360px;
}

header {
    min-height: 64px;
    border-radius: 0 0 64px 64px;
}

footer {
    "new"
    target-new: none;
    position: fixed;
    bottom: 0;
    right:50%;
    min-height: 32px;
    border-radius: 64px 64px 0 0;
    transform: translateX(50%);
}

header>*, main>*, footer>*{
    width: 100%;
}