main {
    max-width: 1200px;
    min-height: calc(100vh - 96px);
    margin: auto;
    display: flex;
}

header, footer {
    box-sizing: border-box;
    background-color: #464545;
    max-width: 1200px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    min-width: 360px;

}

header {
    min-height: 64px;
    border-radius: 0 0 64px 64px;
}

footer {
    min-height: 32px;
    border-radius: 64px 64px 0 0;
}

header>*, main>*, footer>*{
    width: 100%;
}